@model IEnumerable<CharacterCatalog.Core.Models.Character>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
<h1>Index</h1>

<div>
    <div class="col-md-4">
        <div class="form-group">
            <a asp-controller="Character" asp-action="Index">Database</a>
        </div>
        <div class="form-group">
            <a asp-controller="GenericList" asp-action="Index">Generic Structure</a>
        </div>
        <div class="form-group">
            <a asp-controller="Knot" asp-action="Index">Knot</a>
        </div>
    </div>
</div>
</center>